
@font-face {
  font-family: 'futura';
  src: url("Fonts/futuramediumbt.ttf");
}
@font-face {
  font-family: 'futura light';
  src: url("Fonts/FuturaLightfont.ttf");
}
@font-face {
  font-family: 'Avenir';
  src: url("Fonts/AvenirLTStd-Black.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*Utilities section*/

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    line-height: 1.6;
    background-color: #ffffff;
    font-family: 'futura','Avenir', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 100%;
    color: rgb(0, 0, 0);
    display: block;
    position: relative;
    width: 100vw;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 16px;
    line-height: 1.5;
    
    font-weight: normal;
    color: #000;
    overflow-x: hidden;  
}
/*body {
  font-size: 16px;
  font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.5;
  --abl-line-height: $line-height-m;
  --abl-desktop-breakpoint: 1024;
  font-weight: normal;
  color: #000;
  background-color: #F3F3F3;
  overflow-x: hidden;
}*/

html, input, select, textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    body {
      background-color: rgb(255, 255, 255);
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    body {
      background-color:rgb(255, 255, 255);
    }
  }
  /*787.36px / 16px = 49.21em*/
  @media(max-width:49.21em){
      body{
        background-color: rgb(255, 255, 255);
      }
  }
/*563.36px / 16px = 35.21em*/
  @media(max-width:35.21em){
    body{
      background-color: rgb(255, 255, 255);
    }
}
  
  /* 448px / 16px = 28.75em */
  @media (max-width: 28em) {
    body{
      background-color: rgb(255, 255, 255);  
    }
  }
  
ul{
    list-style-type: none;
    margin: 0px 0px;
    padding: 0 0;
}
li{margin: 0 0;}
a{
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}
a:hover{color: black;}
h1, h2{
    line-height: 1.2;
}
.h3{
    color: #667b8e;
}
p{
    margin: 10px 0;
    
}
img{
    margin: 0 0;
    width: 100%;
}
button{cursor: pointer;}

/*Navbar*/
nav{
  display: flex;
  height: 67px;
  justify-content: space-between;
  padding: 0 40px;

}
.nav-img{
  width: 60px;
  height: 28px;
  margin:auto 0;
}
ul{
  display: flex;
}
.navbar-left{
  display: flex;
   margin: auto 0;
   gap: 20px;
  }
  
  .navbar-left ul{
    display: flex;
    gap: 20px;
    margin-left: 20px;
  }
  .navbar-left ul li{
    font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5px;
    font-size: 1.25rem;
    line-height: 1.5;
    width: 100%;
    padding-right: 1.25rem;
    font-weight: normal;
    }
  .navbar-left ul li:hover{color: black;}
  .dropbtn{
    color: rgba(255, 118, 77, 1);
    background: none;
    font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5px;
    font-size: 1.25rem;
    line-height: 1.5;
    width: 100%;
    padding-right: 1.25rem;
    font-weight: normal;
    margin-top: -2px;
  }
  




  /*dropdown*/
  .drop h2{display: none;}.drop a{display: none;}
  a{color: black; text-decoration: none; }
  a:hover{color: black;}
  .extension-grid{
      display: none;
      margin-left: 30px;
      margin-top: 0px;
      margin-bottom: 30px;
    }
    .show{display: flex;}
    .extension-grid h2{
      font-family: 'futura';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    margin-top: 40px;
    margin-bottom: 10px;
    }
    .ext-flex{
        display: flex;
        gap: 30px;
    }
    .ext-flex a{
      font-family: 'futura';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
    }
    .extension-flex{
        display: flex;
        gap: 100px;
    }
    .more h4{
      font-family: 'futura';
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
    }
    .more a{
      font-family: 'futura';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
    }
  button i{margin-left: 8px; margin-top: 2px; font-size: 14px;font-weight: 700;}
  
.nav-hide{display: none;}
.navbar-right{ margin: auto 0; margin-right: 0px;}
.navbar-right ul{display: flex;gap: 25px;}
.li1{
  color: rgba(0, 0, 255, 1);
  text-align: left;
  font-family: 'futura';
    margin-top: 5px;
    font-size: 1.25rem;
    line-height: 1.5;
    width: 100%;
    padding-right: 1.25rem;
    font-weight: normal;
  }
.li2{padding-top:5px;
  font-family: 'futura';
  margin-top: 5px;
  font-size: 0.875em;
  line-height: 1.5;
  width: 100%;
  padding-right: 1.25rem;
  font-weight: normal;
  }
.li2:hover{color: black;}
.show{display: grid;}
.divider3a{
  display: none;
}
.divider3b{
  height: 1px;
    width: 100%; 
    background-color:#EEEEEE
}
.menu{display: none;}
.menu-grid{display: none;}




/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  .main-nav a {
    font-size: 80%;
  }
  .nav-img{
    width: 50%;
    height: 50%;
  }.dropbtn{margin-top: 5px;
    width: 100%;display: flex;
    padding-right: 1.25rem;
    margin-top: -2px;
  }.navbar-left ul li{
    font-size: 1.15rem;
    }
    .dropbtn i{margin-top: 10px;}
    .li1{
        font-size: 1.15rem;
      }
      .dropbtn{
        color: rgba(255, 118, 77, 1);
        background: none;
        font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 5px;
        font-size: 1.25rem;
        line-height: 1.5;
        width: 100%;
        padding-right: 1.25rem;
        font-weight: normal;
        margin-top: 3px;
      }
}
 /* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  .drop h2{display: block;}.drop a{display: block;}
  .nav-img{
    width: 50px;
    height: 28px;
    margin-top:-2px;
  }
  .extension-grid{display: none;}
  #dropdown{display: none;}
  nav{display: none;}
  .divider3a{display: block;height: 1px;
    width: 100%; 
    background-color:#EEEEEE;
  margin-top: -40px;}
  .drop{display: none;}
  .open{display: grid;background-color: blue;}
  .butt{
    display: flex;
    color: black;
    margin-left: 40px;
    margin-top:5px ;
    font-size: 1.25rem;
    background: none;
    border: none;   
    font-family: 'futura';
  }
  .menu{
    display: flex; 
    margin-top:30px; 
    margin-bottom: 0px; margin-left: 20px;
    height: 91px;
    }
  .menu img{
      width: 70px; height:35px;
  }
  #mn{
    background-color: blue; padding: 20px;opacity: ;
  }
  
  .menu-grid{
      color:#ffff;
      display: grid;
      margin-top:0px;
  }
  .menu-grid a{
    color:rgb(255, 255, 255);
      margin-top: 15px;
      font-size: 20px;
      font-family: 'futura';
      font-weight: 400;
  }
  .menu-grid h2{
      font-family: 'futura';
      margin-top: 20px;
      font-size: 26px;color: #5eff00;
  }
  .men-grid{
      display: grid;color: rgb(255, 255, 255);
  }
  .drop h2{
    color:rgb(255, 255, 255);
      margin-top: 15px;
      font-size: 20px;
      font-family: 'futura';
      font-weight: 400;margin-left: 20px;
  }
  .men-grid a{
    color:rgb(255, 255, 255);
      margin-top: 15px;
      font-size: 12px; margin-left: 20px;
      font-family: 'futura';
      font-weight: 400;
  }
  .extension-grid{
      display: flex;
      justify-content: space-between;
      margin: 30px 0;overflow-x:scroll ;width: 1000px;}
  
  .moreee{margin-left: 20px;width: 500px; }
  .moreee h4{
      font-family: 'futura'; color: white;
      margin-top: 10px;font-size: 12px;
      font-weight: 400;
  }
  .moreee a{
      font-size: 12px;
      font-weight: 400;color: white;
  }
}
@media(max-width:49.21em){

}
/* 448px / 16px = 28.75em */
@media (max-width: 28em) {
  .nav-img{
    margin-top:5px;
  }
  .extension-grid{display: none;}
  #dropdown{display: none;}
  nav{display: none;}
  .divider3b{display: none; 
  }.divider3a{display: block;height: 1px;
    width: 100%; 
    background-color:#EEEEEE;
  margin-top: -40px;}

  .drop{display: none;}
  .open{display: grid;}
  .butt{
    display: flex;
    color: black;
    margin-left: 20px;
    margin-top:5px ;
    background: none;
    border: none;   
  }
  button h4{
    font-weight: 900;
    font-family: Roboto;
    margin-left: 10px;
  }
  .menu{
    display: flex; margin-top:20px; margin-bottom: 0px; margin-left: 20px;
    height: 91px;
    }
  .menu img{
      width: 50px; height:25px;
  }
  #mn{
    background-color: blue; padding: 30px;opacity: ;
  }
  .menu-grid{
      color:#ffff;
      display: grid;
      margin-left: 0px;
  }
  .menu-grid a{
    color:#ffff;
      margin-top: 10px;
      font-size: 16px;
      font-family: Roboto;
      font-weight: 600;
  }
  .menu-grid h2{
      font-family: Roboto;
      margin-top: 20px;
      font-size: 26px;
  }
  .men-grid{
      display: grid;
  }
  .extension-grid{
      display: flex;
      justify-content: space-between;
      margin: 0 0;
  }
  .moreee h4{
      font-family: Roboto;
      margin-top: 10px;
      font-weight: 700;
  }
  .moreee a{
      font-size: 12px;
      font-weight: 400;
  }
}


/*main Heading Section*/
.main{
  display: grid;
}
.main-nav{
  display: flex;
  margin: auto 40px;
  background-color: #ffffff;
  opacity: 0.9;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.main-nav a{display: flex;
  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
font-weight: normal;
margin: auto 0px;
padding-right:20px ;
font-size: .875rem;
    line-height: 1.5;

}
.main-img img{
  display: flex;
  width: 1140px;
  height: 575px;
  margin: 0 auto;
  margin-bottom: 102px;
}
.cut-img2 img{
  display: none;
}
.cut-img img{
  display: none;
}
.main-text{
  display: flex;
  width: 800px;
  flex-direction: column;
  margin: 0 auto;
}
span{color: blue;}
.main-text h1{
  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 1.875em;
font-weight: bold;
line-height: 42px;
margin-bottom: 21px;
}
.ppp{
  font-size: 1.25rem;
    line-height: 1.5;
font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: lighter;
text-align: left;
margin-bottom: 98px;
}
.main-text h3{
  display: none;
}
.pimp{display: none;}
.pop{display: none;}.pomp{display: none;}
/* 1200px / 16px = 75em */
@media (max-width: 75em){
  .main-img img{width:1000px ;height:auto }
  .ppp{
    font-size: 1.25rem;
      line-height: 1.5;
  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  text-align: left;
  margin-bottom: 98px;
  }
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  .main-img img{
    display: flex;
    width: 800px;
    height: auto;
  }
  .main-text{width: 600px;}
  .main-text h1{display: none;
  }
  .main-text h3{display:block;
     font-size: 24px;
    font-weight: bold; line-height: 36px }
  .ppp{color: ;
  font-size: 16px;
  }
}
/*787.36px / 16px = 49.21em*/
@media(max-width:49.21em){
  .main-img img{
    width: 550px;
    height: 400px;
  }
  .main-nav{width: 100%;
    margin-left: 30px;
  }
  .main-text{width: 500px;}
  .main-text h1{display: none;
  }
  .main-text h3{display:block;
     font-size: 22px;
    font-weight: bold; line-height: 36px }
  .ppp{display: none;
  }
  .pop{display: block;
    font-size: 16px; margin-bottom: 98px;}

}
/*563.36px / 16px = 35.21em*/
@media(max-width:34.21em){
  .main-nav{
width: 550px;
  }
  .main-img img{display: none;
    margin-left:40px;
    width: 450px;}
  .cut-img img{
    display: none;
  }
  .cut-img2 img{
    display: flex;
    width: 450px;margin-left:30px;
  }
  .main-text{width: 450px;margin-left:40px; margin-top: 40px;}
  .main-text h2{
    font-size: 20px;
    line-height: 30px;
    }
    .ppp{
    font-size: 8px;
    display: none;
    }
    .pop{
      display: none;
      font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-bottom: 98px;
    }
    .pomp{display: block;margin-bottom: 50px; font-size: 16px;}
}
@media (max-width: 28em){
  /*.main img{display: none;}*/
  .main-nav{
    width: 414px;
      }
      .main-img img{display: none;}
      .cut-img img{
        display: flex;
        margin-left:20px;
      width: 380px;
      margin-bottom: 102px;
      }

.main-nav a{
font-size: 14px;
margin: auto 0px;
}
.cut-img2 img{
  display: none;
}

/*https://ableton-production.imgix.net/about/header.jpg*/
.main-text{
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  width: 380px;
}
.main-text h2{
  display: none;
}
.main-text h3{
  display: block;
  font-family: 'futura';
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 32px;
}
.pop{display: none;}
.pomp{display: none;}
.pimp{display: block;font-family: 'futura';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 98px;}
}

/*Collage section*/

.collage{
  display: grid;
}
.collage-flex{
  display: flex;
  justify-self: flex-end;
}

.yellow{
  width: 58.33333vw;
    height: 58.33333vw;
  background-color: rgba(251, 255, 167, 1); 
  display: flex; flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
}
.image{
  width: 41.66667vw;
    height: 41.66667vw;
  display: inline-block;
    vertical-align: middle;
    position: relative;
  margin: 100px 0;
  position: relative;
  z-index: 2;
  left: 100px;
}
.yellow img{
  width: 33.33333vw;
    height: 25vw;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
  margin-left: 200px;
}
.collage-text{
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.collage-text h2{
  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 1.875rem;
line-height: 1.4;
font-weight: bold;
margin-bottom: 21px;
}
.pap{  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
    line-height: 1.5;
    font-weight: lighter;
text-align: left;
margin-bottom: 9px;
}
.pup{display: none;}
@media (max-width: 75em) {
  .collage-text {
  margin: 0 auto;
  }
}
@media (max-width: 61.25em) {
  .yellow{
    width: 580px;
    height: 550px;
  }
  .image{
    margin: auto 0;
    position: relative;
    z-index: 2;
    left: 100px;
  }
  .collage img{
    width: 350px;
    height:350px;margin-top: 100px;
  }
  .yellow img{
    width: 300px;
    height: 250px;
    margin-top: 0px;
    margin-left: 200px;
  }
  .collage-text{
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .collage-text h1{
  font-size: 24px; font-weight: bold;
  }
  .pap{
  font-size: 16px;font-weight: normal;}
}
@media(max-width:49.21em){
  
  .yellow{
    width: 450px;
    height: 500px;
  }
  .image{
    margin: auto 0;
    position: relative;
    z-index: 2;
    left: 50px;
  }
  .collage img{
    width: 250px;
    height:250px;
  }
  .yellow img{
    width: 200px;
    height: 150px;
    margin-top: -30px;
    margin-left: 100px;
  }
  .collage-text{
    display: flex;
    flex-direction: column;
    margin: 0 auto;width: 500px;
  }
  .collage-text h2{
  font-size: 22px;
  }
  .ppp{
  font-size: 16px; }
}
@media(max-width:35.21em){
  .yellow{
    width: 300px;
    height: 300px;
  }
  .image{
    margin-top: 50px;
    position: relative;
    z-index: 2;
    left: 40px;
  }
  .collage img{
    width: 200px;
    height:200px;margin-top: 50px;
  }
  .yellow img{
    width: 180px;
    height: 150px;
    margin-top: -10px;
    margin-left: 80px;
  }
  .collage-text{
    display: flex;
    flex-direction: column;
    margin: 0 auto;width: 400px;
  }
  .collage-text h2{
  font-size: 16px;
  line-height: 34px;
  }
  .pup{
    display: none;  }
}

@media (max-width: 28em){
  .yellow{
    width: 250px;
    height: 250px;
    position: relative;
    right:0px;
  }
  .image{
    margin-top: 50px;
    position: relative;
    z-index: 2;
    left: 40px;
  }
  .collage img{
    width: 180px;
    height:180px;
  }
  .yellow img{
    width: 150px;
    height: 120px;
    margin-top: -0px;
    margin-left: 70px;
  }
  
  .collage-text{
    display: flex;
    flex-direction: column;
    margin:0 25px ;
    width: 380px;
  }
  .collage-text h1{
  font-size: 20px;
  font-weight: bold;
  }
  .pup{
  font-size: 16px;
  font-family: 'futura';
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
   }
}
/*video section*/
.vid-div{
  display: grid;margin-top: 98px;
}
.vid{
  display: grid;
  justify-content: center;
  margin-bottom: 130px;
}
video{
  width: 800px;height: 450px;
}
.video-text{
  display: flex;
  flex-direction: column;
  margin: 0 auto; 
}
.video-text h1{
  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 1.875em;
font-weight: bold;
line-height: 1.4;
letter-spacing: 0em;
text-align: left;
margin-bottom: 21px;
}
.ooo{
  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
    line-height: 1.5;
    font-weight: lighter;
text-align: left;
margin-bottom: 98px;
}
.iframe{display: none;} .iframe2{display: none;}
.video-text h3{display: none;} .video-text h2{display: none;}
.oop{
  display: none;
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  video{width: 600px;}
  .video-text{width: 600px;}
  .video-text h1{display: none;}
  .video-text h3{
    display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  }
  .ooo{display: none;}
  .oop{
    display: block;
    font-size: 16px;margin-bottom: 98px;
  }
}
@media(max-width:49.21em){
  video{width: 500px;}
  .video-text{width: 500px;}
  .video-text h1{display: none;}
  .video-text h3{display: none;
  }
  .video-text h2{
    display: block;
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;}
  .ooo{display: none;}
  .oop{
    display: block;
    font-size: 16px;margin-bottom: 98px;
  }
}
@media(max-width:35.21em){
  .vid-div{
    display: grid;
  }
  video{
    width: 400px;
  }
  .vid{
    justify-content: center;
    margin-bottom: 70px;margin-top: -100px;
  }
  .iframe{display: none;margin: 0 auto}
  .video-text{
    display: grid;
    width: 400px;
  }
  .video-text h2{
    display: none;}
  .ooo{display: none;
  } 
  .video-text h3{display: block;
    font-family: 'futura';
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 21px;}
  .oop{
    display: block;
    font-family: 'futura';
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 50px;
  }
}
@media (max-width: 28em){
  .vid-div{
    display: grid;margin-top: -10px;
  }
  .vid{
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  video{
    width: 380px;
  }
  .iframe{display: none;}
  .iframe2{display: none;margin: 0 auto}
  .video-text{
    display: grid;
    width: 380px;
    margin-left: 20px;
  }
  .video-text h2{
    display: none;}
  .ooo{display: none;
  } 
  .video-text h3{display: block;
    font-family: 'futura';
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 21px;}
  .oop{
    display: block;
    font-family: 'futura';
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 28px;
  }
}

/*Picture Section*/
.picture{
  display: grid;
}
.pic-flex{
  display: flex;
  justify-content: center;
}
.pic-flex img{
  width: 41.66667vw;
  height: 41.66667vw;
  margin: auto 0;
  position: relative;
  z-index: 3;
  right: 100px;
}
.green-div{
  width: 58.3333vw;
  height: 75vw;
  left: 0;
  background-color: rgba(182, 255, 192, 1);
  position: relative;
  z-index: 1;
  margin-bottom: 102px; 
}
.pic-div{
  display: grid;
  margin-left: 8.3333vw;
}
.pic-div img{    
  margin-top: 8.33333vw;
  width: 28.333em;
  height: 25vw;
  margin-left: 100px;
  position: relative;z-index: 2;
}
 .picture-text{
   display: flex;
   flex-direction: column;
   margin: 0 auto;
 }
.picture-text h1{font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.875em;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 21px;
}
.rrr{
  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
    line-height: 1.5;
    font-weight: lighter;
text-align: left;
margin-bottom: 98px;
    }
.picture-text h3{display: none;}
.ror{display: none;} .rur{display: none;}
@media (max-width: 75em){
  .pic-flex img{
      width: 500px;
      height: 450px;
      margin-top: 200px;
    
    }
    .green-div{
      background-color: rgba(182, 255, 192, 1);
      height: 900px; width: 700px;
      position: relative;
      z-index: 1;
      margin-bottom: 102px;
    }
    .pic-div img{
      margin-top: 100px;margin-left: 100px;
      width: 400px; height: 300px;
      position: relative;z-index: 2;
    }  
}
@media (max-width: 61.25em) {
  .pic-flex img{
    width: 400px;
    height: 350px;
    margin-top: 200px;
    margin-left: 10px;
  }
  .green-div{
    background-color: rgba(182, 255, 192, 1);
    height: 800px; width: 600px;
    position: relative;left: -0px;
    z-index: 1;
    margin-bottom: 102px;
  }
  .pic-div img{
    margin-top: 100px;margin-left: 100px;
    width: 350px; height: 250px;
    position: relative;z-index: 2;
  }
  .picture-text{
    width: 600px;
  }.picture-text h1{display: none;}
  .picture-text h3{display: block;
   font-size: 24px; font-weight: bold;
  }
  .rrr{display: none;}
  .ror{display: block;
  font-size: 16px;margin-bottom: 98px;
  }
}
@media(max-width:49.21em){
  .pic-flex img{
      width: 320px;
      height: 250px;
      margin-top: 130px;
      margin-left: 30px;
    }
    .green-div{
      background-color: rgba(182, 255, 192, 1);
      height: 550px; width: 480px;
      position: relative;
      z-index: 1;
      margin-bottom: 102px;
    }
    .pic-div img{
      margin-top: 60px;margin-left: 100px;
      width: 250px; height: 200px;
      position: relative;z-index: 2;
    }
  .picture-text{
    width: 500px;
  }
  .picture-text h2{}
}
@media(max-width:35.21em){
  .pic-flex img{
    width: 220px;
    height: 200px;
    margin-top: 130px;
    margin-left: -10px;
  }
  .green-div{
    background-color: rgba(182, 255, 192, 1);
    height: 500px; width: 380px;
    position: relative;
    z-index: 1;
    margin-bottom: 102px;
  }
  .pic-div img{
    margin-top: 60px;margin-left: 100px;
    width: 180px; height: 150px;
    position: relative;z-index: 2;
  }
  .picture-text h1{
  display: none;
  }
  .rrr{
    display: none;
  font-size: 16px;
  }
  .picture-text{
    width: 400px;
    margin-left: 50px;
  }
  .picture-text h3{
    display: block;    
  font-family: 'futura';
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  margin-bottom: 21px;
  }.ror{
    display: block;
    font-family: 'futura';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 98px;
  }
}
@media (max-width: 28em){
  .pic-flex img{
    width: 180px;
    height: 180px;
    margin-top: 80px;
    margin-left: 50px;
  }
  .green-div{
    background-color: rgba(182, 255, 192, 1);
    height: 350px; width: 350px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;margin-left: -100;
  }
  .pic-div img{
    margin-top: 40px;margin-left: 200px;
    width: 120px; height: 120px;
    position: relative;z-index: 2;
  }
  .picture-text{
    width: 380px;
    margin-left: 20px;
  }
  .picture-text h3{
    display: block;    
  font-family: 'futura';
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  margin-bottom: 21px;
  
  }.ror{
    display: none;
  }
  .rur{
    display: block;
    font-family: 'futura';
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 30px;
  }
}

/*Wide pic section*/
.wide-pic{
  display: grid;
}
.wide-pic img{
  width: 71.125em;
  height: 39.5em;
  margin: 0 auto;
  margin-bottom: 109px; 
}
.wide-pic-text{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.wide-pic-text h1{
  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.875em;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 21px;
}
.aaa{
  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
    line-height: 1.25;
    font-weight: lighter;
text-align: left;
margin-bottom: 21px;
  }
.bbb{font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
    line-height: 1.25;
    font-weight: lighter;
text-align: left;
margin-bottom: 98px;
  }
  .wide-pic-text h3{display: none;}
  .aoa{display: none;}.bob{display: none;}
  

  @media (max-width: 75em){
      .wide-pic img{
          width: 1000px;
          height: 500px; 
        }
  }
  @media (max-width: 61.25em) {
    .wide-pic img{
      width: 800px;
      height: 463px; 
    }
    .wide-pic-text{width: 600px;}
    .wide-pic-text h1{font-family: 'futura';
      font-size: 24px;
     }.aaa{display: none;}
    .aoa{
      display: block;
    font-size: 16px;
  }.bbb{display: none;}
    .bob{
      display: block;
      font-size: 16px;margin-bottom: 98px;
      }
  }
  @media(max-width:49.21em){
      .wide-pic img{
          width: 650px;
          height: 443px; 
        }
        .wide-pic-text{width: 500px;}
        .wide-pic-text h1{display: none;}
        .wide-pic-text h3{display: block; font-size: 22px; font-weight: bold;}
  }
  @media(max-width:35.21em){
    .wide-pic img{
      width: 440px;
      height: 300px; 
    }
    .wide-pic-text h2{display: none;
     }
    .aaa{display: none;
  }
    .bbb{display: none;
      }
      .wide-pic-text{
        width: 400px;
      }
      .wide-pic-text h3{
        display: block;
        font-family: 'futura';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 21px;
      }
      .aoa{
        display: block;
        font-family: 'futura';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 21px;
      }
      .bob{
        display: block;
        font-family: 'futura';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 98px;
      }
    }
  @media (max-width: 28em){
    .wide-pic img{
      margin-left: 15px;
      width: 380px;
      height: 250px; 
      margin-bottom: 40px;
    }
    .wide-pic-text h2{display: none;
     }
    .aaa{display: none;
  }
    .bbb{display: none;
      }
      .wide-pic-text{
        margin-left: 20px;
        width: 380px;
      }
      .wide-pic-text h3{
        display: block;
        font-family: 'futura';
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 21px;
      }
      .aoa{
        font-family: 'futura';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 21px;
      }
      .bob{
        font-family: 'futura';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
      }
  }

/* purple pic roll*/
.pic-roll{
  display: grid;
}
.purple-div{
  
  width: 57.25rem;
  height: 50.5rem;
  background-color: rgba(213, 179, 255, 1);
  margin: 0 auto;
  display: flex;
 justify-content: space-around;
  position: relative;
  z-index: 2;
 
}
.im1{
width: 470px;
height: 400px;
max-width: 100%;
position: relative;
z-index: 2;margin-top: -580px; margin-left: 100px;
margin-bottom: 0;}
.im2{
  width: 600px;
  height: 600px;
  position: relative;
  max-width: 100%;
  z-index: 2;
  display: flex;
  margin-left: 750px;margin-top: -700px;
margin-bottom: 0;}
.pic-roll-text{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
  .pic-roll-text h1{
    width: 800px;
    font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.875em;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 98px;
    margin-bottom: 21px;
}
.pic-roll-text p{
  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
    line-height: 1.25;
    font-weight: lighter;
text-align: left;
width: 800px;
margin-bottom: 98px;
}
.pic-roll-text h2{display: none;} .pic-roll-text .pip{display: none;}
@media(max-width: 75em){
  .purple-div{
    width: 800px;
    height: 600px;
  }
  .im1{
  width: 350px;
  height: 250px;margin-top: -400px;}
  .im2{
    width: 400px;
    height: 400px;
    position: relative;
    z-index: 2;
    margin-top: -500px;
    display: flex; justify-self: end;
  }.pic-roll-text .pip{display: none;}
}
@media (max-width: 61.25em) {
  .purple-div{
    width: 650px;
    height: 600px;
  }
  .im1{
  width: 300px;
  height: 250px;margin-left: 80px;}
  .im2{
    width: 400px;
    height: 400px;
    position: relative;
    z-index: 2;margin-right: 0;
  }
  .pic-roll-text{width: 600px;}
  .pic-roll-text h1{display: none;}
    .pic-roll-text h2{
      display: block;
   font-size: 24px;font-weight: bold;
   line-height: 30px;margin-top: 102px;
  }
  .pic-roll-text p{display: none;
  font-size: 16px;width: 600px;
  }
  .pic-roll-text .pip{display: block;
    font-size: 0.95rem; }
}
@media(max-width:49.21em){
  .purple-div{
    width: 550px;
    height: 600px;
  }
  .im1{
  width: 250px;
  height: 200px;margin-left: 50px;}
  .im2{
    width: 300px;
    height: 300px;
    position: relative;top: 20px;
    z-index: 2;
  }
  .pic-roll-text{width: 500px;}
  .pic-roll-text h1{display: none;}
    .pic-roll-text h2{
      display: block;
   font-size: 22px;
   line-height: 30px;margin-top: 102px;
  }
  .pic-roll-text p{display: none;
  font-size: 16px;width: 500px;
  }
  .pic-roll-text .pip{display: block;
    font-size: 0.95rem; }
}

@media(max-width:35.21em){
  .purple-div{
    width: 400px;
    height: 330px;margin-left: 70px;
  }
  .im1{
  width: 200px;margin-left: 20px;
  height: 150px; margin-top: -250px;}
  .im2{
    width: 200px;
    height: 230px;
    position: relative;margin-top: -300px;
    z-index: 2; margin-left:0;

  }
    .pic-roll-text h2{
   font-size: 22px;display: none;
  }
  .pic-roll-text p{
  font-size: 16px;display: none;
  }
  .pic-roll-text{width: 400px;margin-left: 30px;}
  .pic-roll-text h2{display: block;font-family: 'futura';
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 21px;
    }
    .pic-roll-text .pip{display: block;
    font-family:'futura';
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 98px;
    }
}
@media (max-width: 28em){
  .purple-div{
    width: 320px;
    height: 251.48px;
    margin-left: 40px;margin-bottom: 30px;
  }
  .im1{display: ;
  width: 150.98px;
  height: 120.5px;margin-top: -220px;}
  .im2{
    display: ;
    width: 172.5px;
    height: 172.5px;
    position: relative;
    z-index: 2;margin-top: -260px;
    left: 0px;
  }
  .pic-roll-text{width: 380px;margin-left: 0;}
    .pic-roll-text h2{
   font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 21px;
    margin-top: 0;margin-left: 20px;
  }
  .pic-roll-text p{
  font-size: 16px;display: none;
  
  }
    .pic-roll-text .pip{display: block;
    font-family: 'futura';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;margin-left: 20px;
    margin-bottom: 30px;width: 380px;
    }
}
/*Combine img*/
.combine{
  display: flex;
  justify-content: center;
  
}
.bigger-img{
    display: none;
}
.small-img{
    width: 35.823em;height: 550px;
}
.blue-div{
  background-color: rgba(177, 197, 255, 1);
  width: 35.823em;
  
}
.blue-div p{
  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.75rem;
    line-height: 1.75;
    font-weight: normal;
text-align: left;color: black;
margin-top: 100px;margin-left: 100px;
margin-bottom: 28px;

}
.blue-div a{
  font-family: Roboto;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 42px;
letter-spacing: 0em;
text-align: left;
color: blue;
margin-left: 100px;
}
h5{display: none;}
#ap{display: none;}
.txt i{font-size: 20px; margin-top: 7px; margin-left: 5px;}
@media (max-width: 75.25em) {
  .combine{
    display: flex;flex-direction: column;
    width: 700px;
    height: 700px;margin: 0 auto;
    margin-bottom: 98px; 
  }
  .bigger-img{
      display: block;
    width: 700px; height: 500px;
  }
  .small-img{
      display: none;
      width: 550px;
  }
  
  .blue-div{
    width: 700px; margin: 0 auto; height: 250px; 
  }
  .blue-div p{display: none; 
  }
  .blue-div a{display: none;
  }
  h5{font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
      line-height: 1.25;
      display: block;
      font-weight: lighter;
      margin-top: 30px; 
      margin-left: 50px; 
      margin-bottom: 30px;
  }
  #ap{display: block;color: blue;margin-left: 50px;}
  .txt i{font-size: 12px;}
}
@media(max-width:61.25){
  .combine{
    width: 600px;
    margin-bottom: 98px; margin-left: 0px;
  }
  .bigger-img{
    display: block;
  width: 400px; height: 500px;
}

.blue-div{
  width: 500px; margin: 0 auto; height: 250px; color: red; 
}
h5{font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.55rem;
    line-height: 1.25;
    display: block;
    font-weight: lighter;
    margin-top: 60px; 
    margin-left: 90px; 
    margin-bottom: 30px;
}
#ap{display: block;color: blue;}
.txt i{font-size: 12px;}
}
@media(max-width:49.21em){
  .combine{
      display: flex;flex-direction: column;
      width: 500px;
      height: 500px;
      margin-bottom: 98px;
    }
    .bigger-img{
        display: block;
      width: 500px; height: 350px;
    }
    .small-img{
        display: none;
        width: 550px;
    }h5{font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 1.25rem;
        line-height: 1.25;
        display: block;
        font-weight: lighter;
        margin-top: 20px; 
        margin-left: 20px; 
        margin-bottom: 0px;
    }
    #ap{display: block;color: blue; margin-left: 20px; 
      font-size: 1.25rem;}
    .txt i{font-size: 12px;}
    
    .blue-div{
      width: 500px; margin: 0 auto; height: 200px; 
    } 
}
@media(max-width:35.21em){
  .combine{width: 400px;height: 400;}
  .bigger-img{
      display: block;
    width: 400px; height: 300px;
  }
  .small-img{
      display: none;
      width: 550px;
  }
  .blue-div{
    width: 400px; margin: 0 auto; height: 200px;
  }
  .blue-div p{display: none; 
  }
  .blue-div a{display: none;
  }
  h5{
      display: flex;
      margin-top: 40px; 
      margin-left: 20px; 
      margin-bottom: 50px;
      font-size: 20px;font-weight: 700;
  }
  #ap{display: block;margin-top: -40px;}
  .txt i{font-size: 12px;}
}
@media (max-width: 28em){
  .combine{width: 380px; margin-left: 15px;}
  .bigger-img{
      display: block;
    width: 380px; height: 220px;
  }
  .small-img{
      display: none;
      width: 550px;
  }
  .blue-div{
    width: 380px; height: 250px; margin-left: 0;
  }
  h5{
      display: flex;
      margin-top: 20px; 
      margin-left: 10px; 
      margin-bottom: 50px;
      font-size: 18px;font-weight: 700;
  }#ap{display: block;margin-top: -40px;margin-left: 10px;}
}
/*divider line*/

.divider2{
  height: 2px;
    width: 1348px; 
    background-color:rgba(238, 238, 238, 1);
    border: #000 2px;
    margin: 100px 0;
}
@media(max-width:35.21em){
  .divider2{
        width: 100%; 
        background-color:rgba(238, 238, 238, 1);
        border: #000 2px;
        margin: 100px 0;
    }
}
@media(max-width:28em){
  .divider2{
        width: 414px; 
        background-color:rgba(238, 238, 238, 1);
        border: #000 2px;
        margin: 100px 0;
    }
}
/*footer*/
footer{
  display: grid;
  margin: 0 100px;
}
footer i{
  font-size: 10px;
  margin-top: 5px;margin-left: 5px;
}
footer img{
  width: 188px; height: 45px;
  margin-bottom: 56px;
}
.foot-flex1{
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}
.reg{display: flex;flex-direction: column;}
.reg a{
font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 16px;
font-weight: normal;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.social i{
  font-size: 40px;
  margin-left: 5px;
}
.ed{
  display: flex;flex-direction: column;
}
.ed h4{
font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
font-weight: normal;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.ed a{
font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 16px;
font-weight: normal;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.sign{
  display: flex;flex-direction: column;
}
.sign h4{
font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
font-weight: normal;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.sign p{
font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 16px;
font-weight: normal;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
input{
  background-color: #EEEEEE;
  width: 304px; height: 44px;
  border: none;
  padding: 15px;
}
input::placeholder{
font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
font-weight: normal;
line-height: 24px;
margin-left: 20px;
}
button{
  width: 96px; margin-left: -5px;
  border: none; height: 44px;
  background-color: #0000FF;
  color: #ffff;
}
.foot-flex2{
  display: flex;
  justify-content: space-between;
}
.community{
  display: flex;flex-direction: column;
}
.community h4{
font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
font-weight: normal;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.community a{
  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.distributor{
  display: flex;flex-direction: column;
  width: 340px;position: relative;
  right: 20px;
}
.distributor h4{
font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
font-weight: normal;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.distributor a{
  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.lang{
  width: 340px;
  position: relative;
  right: 80px;
}
.lang h4{
font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
font-weight: normal;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
#sel1{
  width: 105px;
  height: 34px;
  background-color: #EEEEEE;
  border: none;
  padding: 0 10px ;
  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 16px;
font-weight: normal;
line-height: 24px;

}
#country{
  width: 210px;
  height: 34px;
  background-color: #EEEEEE;
  border: none;
  padding: 0 10px;
  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 16px;
font-weight: normal;
line-height: 24px;
}
.foot{
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}
.cont{display: flex; justify-content: space-between;}
.cont a{
font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 12px;
font-weight: normal;
line-height: 21px;
margin-left: 10px;
}
.log{
  display: flex;
}
.log p{
  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 12px;
font-weight: normal;
line-height: 21px;
margin-left: 10px;
}
.log img{
  margin-top: 10px;
  width: 45px;
  height: 21px;
  margin-left: 10px;
}
@media (max-width: 61.25em) {
  footer{
    display: grid;
    margin: 0 100px;
  }
  footer i{
    font-size: 8px;
    margin-top: 5px;margin-left: 5px;
  }
  footer img{
    width: 188px; height: 45px;
    margin-bottom: 56px;
  }
  .foot-flex1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 49px;
  }
  .reg{display: flex;flex-direction: column;margin-bottom: 30px;}
  .social i{
    font-size: 30px;
    margin-left: 0px;
  }
  .ed{
    display: flex;flex-direction: column;
    margin-bottom: 30px;
  }
  
  .sign{
    display: flex;flex-direction: column;
  }
  .sign p{
  font-size: 16px;
  width: 100%;
  }
  input{
    width: 504px;
  }
  button{
    width: 96px; margin-left: -5px;
    border: none; height: 44px;
    background-color: #0000FF;
    color: #ffff;
  }
  .foot-flex2{
    display: flex;
    flex-direction: column;
    }
  .community{
    display: flex;flex-direction: column;
    margin-bottom: 30px;
  }
  .distributor{
    display: flex;flex-direction: column;
    width: 340px; margin-bottom: 30px; margin-left: 20px;
  }
  .lang{
    width: 340px;
    position: relative;
    right: 60px;margin-left: 55px;
  }
  .foot{
    display: flex; flex-direction: column;
    justify-content: space-between;
    margin-top: 66px;
  }
  .cont{display: flex; flex-direction: column; margin-bottom: 30px;}
  .cont a{
  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  font-size: 12px;
  font-weight: normal;
  line-height: 21px;
  margin-left: 10px;
  }
  .log{
    display: flex;
  }
  .log p{
  font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  font-size: 12px;
  font-weight: normal;
  line-height: 21px;
  margin-left: 10px;
  }
  .log img{
    margin-top: 10px;
    width: 45px;
    height: 21px;
    margin-left: 10px;
  } 
}
@media(max-width:35.21em){
  footer{
    display: grid;
    margin: 0 30px;
  }
  input{
    width: 404px;
  }
  button{
    width: 96px; margin-left: 0px;
    border: none; height: 44px;
    background-color: #0000FF;
    color: #ffff;
  } 
}
@media (max-width: 28em){
  footer{
    display: grid;
    margin: 0 10px;font-size: 14px;
  }
  .sign p{
    font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    }
    input{
      background-color: #EEEEEE;
      width: 224px; height: 34px;
      border: none;margin-left: 0;
      padding: 15px;
    }
    input::placeholder{
    font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin-left: 20px;
    }
    button{
      width: 86px; margin-left: -5px;
      border: none; height: 34px;
      background-color: #0000FF;
      color: #ffff;
    }
    .foot-flex2{
      display: flex;
      justify-content: space-between;
    }
    .community{
      display: flex;flex-direction: column;
    }
    .community h4{
    font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    }
    .community a{
      font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 14px;
      font-weight: normal;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
    .distributor{
      display: flex;flex-direction: column;
      width: 340px;position: relative;
      right: 20px;
    }
    .distributor h4{
    font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    }
    .distributor a{
      font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 14px;
      font-weight: normal;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
    .lang{
      width: 340px;
      position: relative;
      right: 55px;
    }
    .lang h4{
    font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    }
    #sel1{
      width: 105px;
      height: 34px;
      background-color: #EEEEEE;
      border: none;
      padding: 0 10px ;
      font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    
    }
    #country{
      width: 210px;
      height: 34px;
      background-color: #EEEEEE;
      border: none;
      padding: 0 10px;
      font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    }
    .foot{
      display: flex;
      justify-content: space-between;
      margin-top: 66px;
    }
    .cont{display: flex; justify-content: space-between;}
    .cont a{
    font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 21px;
    margin-left: 10px;
    }
    .log{
      display: flex;
    }
    .log p{
      font-family: 'futura', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 21px;
    margin-left: 10px;
    }
    .log img{
      margin-top: 10px;
      width: 45px;
      height: 21px;
      margin-left: 10px;
    }
}