

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*Utilities section*/

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    line-height: 1.6;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    color: rgb(0, 0, 0);
    display: block;
    position: relative;
    width: 100vw;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 16px;
    line-height: 1.5;
    
    font-weight: normal;
    color: #000;
    overflow-x: hidden;  
}
/*body {
  font-size: 16px;
  font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.5;
  --abl-line-height: $line-height-m;
  --abl-desktop-breakpoint: 1024;
  font-weight: normal;
  color: #000;
  background-color: #F3F3F3;
  overflow-x: hidden;
}*/

html, input, select, textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    body {
      background-color: rgb(255, 23, 23);
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    body {
      background-color:rgb(145, 255, 0);
    }
  }
  /*787.36px / 16px = 49.21em*/
  @media(max-width:49.21em){
      body{
        background-color: rgb(0, 47, 255);
      }
  }
/*563.36px / 16px = 35.21em*/
  @media(max-width:35.21em){
    body{
      background-color: rgb(238, 255, 0);
    }
}
  
  /* 448px / 16px = 28.75em */
  @media (max-width: 28em) {
    body{
      background-color: rgb(255, 0, 157);  
    }
  }
  
ul{
    list-style-type: none;
    margin: 0px 0px;
    padding: 0 0;
}
li{margin: 0 0;}
a{
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}
a:hover{color: black;}
h1, h2{
    line-height: 1.2;
}
.h3{
    color: #667b8e;
}
p{
    margin: 10px 0;
    
}
img{
    margin: 0 0;
    width: 100%;
}
button{cursor: pointer;}

/*Navbar*/
nav{
  display: flex;
  height: 91px;
  justify-content: space-between;
}
.nav-img{
  width: 60px;
  height: 28px;
}
ul{
  display: flex;

}
.navbar-left{
  display: flex;
   margin: auto 0;
   margin-left: 30px;
   gap: 30px
  }
  
  .navbar-left ul{
    display: flex;
    gap: 30px;
  }
  .navbar-left ul li{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
  .navbar-left ul li:hover{color: black;}
  .dropbtn{
    color: rgba(255, 118, 77, 1);
    background: none;
    font-weight: 700;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: -7px;
  }
  .plu{}
  /*dropdown*/
  a{color: black; text-decoration: none; }a:hover{color: black;}
  .extension-grid{
      display: none;
      margin-left: 30px;
      margin-top: 0px;
      margin-bottom: 30px;
    }
    .show{display: flex;}
    .extension-grid h2{
      font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 10px;
    }
    .ext-flex{
        display: flex;
        gap: 30px;
    }
    .ext-flex a{
      font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
    }
    .extension-flex{
        display: flex;
        gap: 100px;
    }
    .more h4{
      font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
    }
    .more a{
      font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
    }
  button i{margin-left: 5px; margin-top: 2px; font-size: 14px;}
  
.navbar-left ul li img{
  width: 80px; height: auto;
}
.nav-hide{display: none;}
.navbar-right{ margin: auto 0; margin-right: 30px;}
.navbar-right ul{display: flex;gap: 25px;}
.li1{
  color: rgba(0, 0, 255, 1);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  }
.li2{font-size: 12px;margin-top: 5px;
  font-family: Roboto;
font-size: 14spx;
font-style: normal;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
  }
.li2:hover{color: black;}
.show{display: grid;}
.divider3a{
  display: none;
}
.divider3b{
  height: 1px;
    width: 100%; 
    background-color:#EEEEEE
}


.menu{display: none;}
.menu-grid{display: none;}
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  .main-nav a {
    font-size: 80%;
  }
  .nav-img{
    width: 50%;
    height: 50%;
  }
}
 /* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  .extension-grid{display: none;}
  #dropdown{display: none;}
  nav{display: none;}
  .divider3a{display: block;height: 1px;
    width: 100%; 
    background-color:#EEEEEE;
  margin-top: -40px;}
  .drop{display: none;}
  .open{display: grid;}
  .butt{
    display: flex;
    color: black;
    margin-left: 20px;
    margin-top:5px ;
    background: none;
    border: none;   
  }
  .menu{
    display: flex; margin-top:30px; margin-bottom: 0px; margin-left: 30px;
    height: 91px;
    }
  .menu img{
      width: 70px; height:35px;
  }
  #mn{
    background-color: blue; padding: 30px;opacity: ;
  }
  .menu-grid{
      color:#ffff;
      display: grid;
      margin-left: 0px;
  }
  .menu-grid a{
    color:#ffff;
      margin-top: 10px;
      font-size: 16px;
      font-family: Roboto;
      font-weight: 600;
  }
  .menu-grid h2{
      font-family: Roboto;
      margin-top: 20px;
      font-size: 26px;
  }
  .men-grid{
      display: grid;
  }
  .extension-grid{
      display: flex;
      justify-content: space-between;
      margin: 0 0;
  }
  .moreee h4{
      font-family: Roboto;
      margin-top: 10px;
      font-weight: 700;
  }
  .moreee a{
      font-size: 12px;
      font-weight: 400;
  }
}
/* 448px / 16px = 28.75em */
@media (max-width: 28em) {
  .extension-grid{display: none;}
  #dropdown{display: none;}
  nav{display: none;}
  .divider3b{display: none; 
  }.divider3a{display: block;height: 1px;
    width: 100%; 
    background-color:#EEEEEE;
  margin-top: -40px;}

  .drop{display: none;}
  .open{display: grid;}
  .butt{
    display: flex;
    color: black;
    margin-left: 20px;
    margin-top:5px ;
    background: none;
    border: none;   
  }
  button h4{
    font-weight: 900;
    font-family: Roboto;
    margin-left: 10px;
  }
  .menu{
    display: flex; margin-top:20px; margin-bottom: 0px; margin-left: 20px;
    height: 91px;
    }
  .menu img{
      width: 50px; height:25px;
  }
  #mn{
    background-color: blue; padding: 30px;opacity: ;
  }
  .menu-grid{
      color:#ffff;
      display: grid;
      margin-left: 0px;
  }
  .menu-grid a{
    color:#ffff;
      margin-top: 10px;
      font-size: 16px;
      font-family: Roboto;
      font-weight: 600;
  }
  .menu-grid h2{
      font-family: Roboto;
      margin-top: 20px;
      font-size: 26px;
  }
  .men-grid{
      display: grid;
  }
  .extension-grid{
      display: flex;
      justify-content: space-between;
      margin: 0 0;
  }
  .moreee h4{
      font-family: Roboto;
      margin-top: 10px;
      font-weight: 700;
  }
  .moreee a{
      font-size: 12px;
      font-weight: 400;
  }
}


/*main Heading Section*/
.main{
  display: grid;
}
.main-nav{
  display: flex;
  margin: auto 0;
  background-color: #ffffff;
  opacity: 0.9;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.main-nav a{display: flex;
  font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
margin: auto 30px;
}
.main-img img{
  display: flex;
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 102px;
}
.cut-img img{
  display: none;
}
.main-text{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
span{color: blue;}
.main-text h2{
  font-family: Roboto;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 42px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 21px;
}
.ppp{
  font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 98px;
}
.main-text h3{
  display: none;
}
.pop{display: none;}.pomp{display: none;}
/* 1200px / 16px = 75em */
@media (max-width: 75em){
  .main-img img{width:1000px ;height:auto }
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  .main-img img{
    display: flex;
    width: 800px;
    height: auto;
   
  }
  .main-text h2{
  font-size: 22px;
  }
  .ppp{
  font-size: 16px;
  }
}
/*787.36px / 16px = 49.21em*/
@media(max-width:49.21em){
  .main-img img{
    width: 600px;
  }
  .main-nav{width: 100%;
  }
}
/*563.36px / 16px = 35.21em*/
@media(max-width:35.21em){
  .main-nav{
width: 550px;
  }
  .main-img img{display: none;}
  .cut-img img{
    display: flex;
    margin:0 auto ;
  width: 500px;
  margin-bottom: 102px;
  }
  .main-text{margin-left: 20px;}
  .main-text h2{
    font-size: 16px;
    line-height: 30px;
    }
    .ppp{
    font-size: 8px;
    display: none;
    }
    .pop{
      display: block;
      font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-bottom: 98px;
    }
}
@media (max-width: 28em){
  /*.main img{display: none;}*/
  .main-nav{
    width: 414px;
      }
      .main-img img{display: none;}
      .cut-img img{
        display: flex;
        margin:0 auto ;
      width: 400px;
      margin-bottom: 102px;
      }
.main-nav a{
font-size: 14px;
margin: auto 10px;
}.main-img img{
  display: none;
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 102px;
}
/*https://ableton-production.imgix.net/about/header.jpg*/
.main-text{
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.main-text h2{
  display: none;
}
.main-text h3{
  display: block;
  font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 32px;
}
.pop{display: none;}
.pomp{display: block;font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 98px;}
}
/*Collage section*/

.collage{
  display: grid;
}
.collage-flex{
  display: flex;
  justify-self: flex-end;
}
.collage img{
  width: 500px;
  height: 500px;
}
.yellow{
  width: 780px;
  height: 700px;
  background-color: rgba(251, 255, 167, 1); 
  display: flex; flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-bottom: 102px;
}
.image{
  margin: 100px 0;
  position: relative;
  z-index: 2;
  left: 100px;
}
.yellow img{
  width: 400px;
  height: 300px;
  margin-left: 200px;
}
.collage-text{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.collage-text h2{
  font-family: Roboto;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 42px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 21px;
}
.ppp{
  font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 98px;
}
.pup{display: none;}
@media (max-width: 75em) {
  .collage-text {
  margin: 0 auto;
  }
}
@media (max-width: 61.25em) {
  .yellow{
    width: 580px;
    height: 700px;
  }
  .image{
    margin: auto 0;
    position: relative;
    z-index: 2;
    left: 50px;
  }
  .collage img{
    width: 350px;
    height:350px;
  }
  .yellow img{
    width: 300px;
    height: 250px;
    margin-top: 100px;
    margin-left: 100px;
  }
  .collage-text{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .collage-text h2{
  font-size: 22px;
  }
  .ppp{
  font-size: 16px;  }
}
@media(max-width:49.21em){
  
  .yellow{
    width: 380px;
    height: 500px;
  }
  .image{
    margin: auto 0;
    position: relative;
    z-index: 2;
    left: 50px;
  }
  .collage img{
    width: 300px;
    height:300px;
  }
  .yellow img{
    width: 250px;
    height: 200px;
    margin-top: 100px;
    margin-left: 100px;
  }
  .collage-text{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .collage-text h2{
  font-size: 22px;
  }
  .ppp{
  font-size: 16px;  }
}
@media(max-width:35.21em){
  .yellow{
    width: 300px;
    height: 300px;
  }
  .image{
    margin-top: 50px;
    position: relative;
    z-index: 2;
    left: 20px;
  }
  .collage img{
    width: 200px;
    height:200px;
  }
  .yellow img{
    width: 180px;
    height: 150px;
    margin-top: -10px;
    margin-left: 30px;
  }
  .collage-text{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .collage-text h2{
  font-size: 16px;
  line-height: 34px;
  }
  .pup{
    display: block;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 98px;  }
}

@media (max-width: 28em){
  .yellow{
    width: 250px;
    height: 300px;
    margin-right:0px ;
  }
  .image{
    margin-top: 50px;
    position: relative;
    z-index: 2;
    left: 20px;
  }
  .collage img{
    width: 180px;
    height:180px;
  }
  .yellow img{
    width: 150px;
    height: 120px;
    margin-top: -20px;
    margin-left: 30px;
  }
  
  .collage-text{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .collage-text h2{
  font-size: 16px;
  }
  .pup{
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 98px;  }
}
