@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*Utilities section*/

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    line-height: 1.6;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    color: rgb(0, 0, 0);
}
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
    }
  }
  /*787.36px / 16px = 49.21em*/
  @media(max-width:49.21em){
      html{}
  }
/*563.36px / 16px = 35.21em*/
  @media(max-width:35.21em){
    html{}
}
  
  /* 448px / 16px = 28.75em */
  @media (max-width: 28em) {
    html {
      
    }
  }
  
ul{
    list-style-type: none;
    margin: 0px 0px;
    padding: 0 0;
}
li{margin: 0 0;}
a{
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}
h1, h2{
    line-height: 1.2;
}
.h3{
    color: #667b8e;
}
p{
    margin: 10px 0;
    
}
img{
    margin: 0 0;
    width: 100%;
}
button{cursor: pointer;}

/*Navbar*/
nav{
  display: flex;
  height: 91px;
  box-shadow: -4px 3px 4px 0px #00000040;
  justify-content: space-between;
}
ul{
  display: flex;
}
.navbar-left{
   margin: auto 0;
   margin-left: 30px;
  }
  .navbar-left ul{
    display: flex;
    gap: 30px;
  }
  .navbar-left ul li{font-size: 18px}
  .navbar-left ul li:hover{color: black;}
  
.navbar-left ul li img{
  width: 80px; height: auto;
}
.navbar-right{ margin: auto 0; margin-right: 30px;}
.navbar-right ul{display: flex;gap: 25px;}
.li1{font-size: 18px;color: rgba(0, 0, 255, 1);
}
.li2{font-size: 12px;margin-top: 4px;}
.li2:hover{color: black;}
/*main Heading Section*/
.main{

}
.main-nav{
  margin: 30px 0;
}
.main-nav ul li{display: flex;
  margin-left: 30px;
}
.main-nav ul li:hover{
  color: black;
}
.main-img{
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 102px;
}
.main-text p{
  text-align: left;
  display: flex;
  justify-content: center;
}
.main-text strong{
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 21px;
  width: 790px;
  font-weight: 400;
}
.ppp{
  font-size: 18px;
  font-weight: small;
  margin-bottom: 98px;
  color: rgba(0, 0, 0, 1);
}
/*Collage section*/
span{color: blue;}
.collage{
  display: flex;
}
.collage img{
  width: 500px;
  height: 500px;
}
.yellow{
  width: 700px;
  height: 700px;
  background-color: rgba(251, 255, 167, 1);
}
.yellow img{
  width: 400px;
  height: 300px;
}
/*video section*/
.vid{
  display: grid;
  justify-content: center;
}
/*Picture Section*/
.pic-flex{
  display: flex;
}
.green-div{
  background-color: rgba(182, 255, 192, 1);
  height: 900px; width: 700px;
}
.pic-div{
  display: grid;
}
/**/
.purple-div{
  width: 800px;
  height: 700px;
  background-color: rgba(213, 179, 255, 1);
  margin: 0 auto;
  display: flex;
}
/**/
.combine{
  width: 1000px;
  height: 600px;
  display: flex;
  margin: 30px auto;
}
.combine img{
  width: 500px; height: 600px;
}
.blue-div{
  background-color: rgba(177, 197, 255, 1);
  width: 500px;
}
/**/
.divider{
  height: 0.1px;
    width: 1348px; 
    background-color: #bfbfc2;
    margin-bottom: 30px;
  box-shadow: -4px 3px 4px 0px #00000040;
}
/*footer*/
footer{
  display: grid;
}
footer img{
  width: 188px; height: 45px;
}